// Initialize Firebase

"use strict";

app.config(function(){
    var config ={
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    storageBucket: "",
    messagingSenderId: ""
    };
    
    firebase.initializeApp(config);

});
