<!-- About -->
<section class="" id="about">
  
<!-- empty divider -->
<nav class="navbar navbar-light bg-light">
  <span class="p-4"></span>
</nav>

  <!-- About Me Header -->
  <div class="row pl-4">
    <h1 class="col text-muted p-4">About Me</h1>
  </div>

  <div class="row">
    <!-- Left Side -->
    <div class="col-6">
      <div class="col-6">
        <img src="./img/contact-erin.jpg" class="img-fluid">
      </div>

      <div class="col-6">

      </div>
    </div>
 
      <!-- Right Side -->
      <div class="col-6">
        <p class="h5">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young, you
          have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl. He can't
          just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through a portal?
          </p>

        <p class="h5">Burgertime! I just wanna die! Wow I really crononberg'd up the whole place huh Morty, just a bunch a cronenbergs
          walkin around. It's called carpe diem Morty. Look it up. </p>
      </div>
    </div>

</section>