<!-- About -->
<section class="" id="about">

  <!-- empty divider -->
  <nav class="navbar navbar-light bg-light">
    <span class="p-4"></span>
  </nav>
  <!-- About Me Header -->
  <div class="row pl-5">
    <h1 class="col text-muted pl-4">About Me</h1>
  </div>

  <div class="container">
    <div class="row">

      <!-- Left Side -->
      <div class="col-4">
        <div class="col-6 mx-auto text-center py-4">
          <img src="https://firebasestorage.googleapis.com/v0/b/personal-site-82611.appspot.com/o/Profile_Photo%2FProfessional_Cropped.jpg?alt=media&token=ba6bd063-ab1f-46ed-a6ed-dd27964e7d6f" class="img-thumbnail">
        </div>


        <!-- Left side tabs -->
        <div class="mx-auto text-left col-6 nav flex-column nav-pills px-2 pt-2 pb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <a class="nav-link active" id="v-pills-development-tab" data-toggle="pill" href="#v-pills-development" role="tab" aria-controls="v-pills-development"
            aria-selected="true">Web Development</a>
          <a class="nav-link" id="v-pills-design-tab" data-toggle="pill" href="#v-pills-design" role="tab" aria-controls="v-pills-design"
            aria-selected="false">Web Design</a>
          <a class="nav-link" id="v-pills-data-tab" data-toggle="pill" href="#v-pills-data" role="tab" aria-controls="v-pills-data"
            aria-selected="false">Data Enthusiast</a>
        </div>
      </div>

      <!-- Right Side -->
      <div class="tab-content col-8" id=" ">

        <div class="tab-pane fade show active" id="v-pills-development" role="tabpanel" aria-labelledby="v-pills-development-tab">
          <p class="h5 web__development">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-design" role="tabpanel" aria-labelledby="v-pills-design-tab">
          <p class="h5 web__design">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>

        </div>
        <div class="tab-pane fade" id="v-pills-data" role="tabpanel" aria-labelledby="v-pills-data-tab">
          <p class="h5 data__enthusiast">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>

        </div>
      </div>
    </div>
  </div>
</section>