<!-- About -->
<section class="" id="about">

  <!-- empty divider -->
  <nav class="navbar navbar-light bg-light">
    <span class="p-4"></span>
  </nav>
  <!-- About Me Header -->
  <div class="row pl-5">
    <h1 class="col text-muted pl-4">About Me</h1>
  </div>

  <div class="container">
    <div class="row">

      <!-- Left Side -->
      <div class="col-4">
        <div class="col-6 mx-auto text-center">
          <img src="./img/contact-erin.jpg" class="img-fluid img-thumbnail">
        </div>


        <!-- Left side tabs -->
        <div class="mx-auto text-left col-6 nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <a class="nav-link active" id="v-pills-development-tab" data-toggle="pill" href="#v-pills-development" role="tab" aria-controls="v-pills-development"
            aria-selected="true">Web Development</a>
          <a class="nav-link" id="v-pills-design-tab" data-toggle="pill" href="#v-pills-design" role="tab" aria-controls="v-pills-design"
            aria-selected="false">Web Design</a>
          <a class="nav-link" id="v-pills-data-tab" data-toggle="pill" href="#v-pills-data" role="tab" aria-controls="v-pills-data"
            aria-selected="false">Data Enthusiast</a>
        </div>
      </div>

      <!-- Right Side -->
      <div class="tab-content col-8" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-development" role="tabpanel" aria-labelledby="v-pills-development-tab">
          <p class="h5">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>

          <p class="h5">Burgertime! I just wanna die! Wow I really crononberg'd up the whole place huh Morty, just a bunch a cronenbergs
            walkin around. It's called carpe diem Morty. Look it up. </p>
        </div>
        <div class="tab-pane fade" id="v-pills-design" role="tabpanel" aria-labelledby="v-pills-design-tab">
          <p class="h5">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>

          <p class="h5">Burgertime! I just wanna die! Wow I really crononberg'd up the whole place huh Morty, just a bunch a cronenbergs
            walkin around. It's called carpe diem Morty. Look it up. </p>
        </div>
        <div class="tab-pane fade" id="v-pills-data" role="tabpanel" aria-labelledby="v-pills-data-tab">
          <p class="h5">Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. You're young,
            you have your whole life ahead of you, and your anal cavity is still taut yet malleable. He's not a hot girl.
            He can't just bail on his life and set up shop in someone else's. Did you just come into the cafeteria through
            a portal?
          </p>

          <p class="h5">Burgertime! I just wanna die! Wow I really crononberg'd up the whole place huh Morty, just a bunch a cronenbergs
            walkin around. It's called carpe diem Morty. Look it up. </p>
        </div>
      </div>
    </div>
  </div>
</section>