<!-- Navigation -->
<a class="menu-toggle rounded" href="#" ng-click="MenuHandler()">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Erin Agobert</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About Me</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Technologies</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- Home Header -->
<div class="navbar navbar-light bg-light row">
  <div class="h3 col-12 mb-0">ERIN AGOBERT</div>
  <div class=" h6 col-12 mb-0">Web Developer</div>
</div>
<header class="masthead d-flex">
</header>


