<!-- Services -->
<section class="" id="technologies">

 <!-- empty divider -->
 <nav class="navbar navbar-light bg-light">
    <span class="p-4"></span>
  </nav>

  <!-- Technologies Header -->
  <div class="row pl-5">
    <h1 class="col text-muted pl-4">Technologies</h1>
  </div>
<div class="container">
  <div class="row">
    <div class="p-5 col-3 justify-content-center" ng-repeat="tech in tech">

      <img class="w-50 rounded align-self-center" src="{{tech.url}}">
      
    </div>

  </div>
</div>
  </section>